<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Activity</title>
</head>
<body>
<h1>Add New Activity</h1>
<form method="Post" th:action="@{/activites}" th:object="${activitesResponse}">
    <label>Name: <input type="text" th:field="*{name}" placeholder= "Name"/></label>
    <br/>
    <label>Description: <input type="text" th:field="*{cost}" placeholder= "Cost"/></label>
    <br/>

    <input type="submit" value="Submit"/>
</form>
<a href="/activites">Cancel</a>
</body>
</html>